{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    {% if request.user.user_type == '1' %}
    
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/admin.jpg' %} " alt="Admin Logo"
            class="brand-image img-circle elevation-3" >
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

   
    <div class="sidebar">
        
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user}}</a>
            </div>
        </div>

        
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}"
                        class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Update Profile

                        </p>
                    </a>
                </li>
                

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Department
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_department' as add_department %}
                            <a href="{{add_department}}"
                                class="nav-link  {% if add_department == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Department

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_department' as manage_department %}
                            {% url 'edit_department' department_id as edit_department %}
                            <a href="{{manage_department}}"
                                class="nav-link  {% if edit_department == request.path or manage_department == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Departments

                                </p>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Project
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>


                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_project' as add_project %}
                            <a href="{{add_project}}"
                                class="nav-link  {% if add_project == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Project

                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            {% url 'manage_project' as manage_project %}
                            {% url 'edit_project' project_id as edit_project %}
                            <a href="{{manage_project}}"
                                class="nav-link  {% if edit_project == request.path or manage_project == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Projects

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clock"></i>
                        <p>
                            Timeline
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            {% url 'add_timeline' as add_timeline %}
                            <a href="{{add_timeline}}"
                                class="nav-link  {% if add_timeline == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Add Timeline

                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            {% url 'manage_timeline' as manage_timeline %}
                            {% url 'edit_timeline' timeline_id as edit_timeline %}
                            <a href="{{manage_timeline}}"
                                class="nav-link  {% if edit_timeline == request.path or manage_timeline == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Manage Timeline

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{add_staff}}" class="nav-link {% if add_staff == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Add Employee

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    {% url 'manage_staff' as manage_staff %}
                    {% url 'edit_staff' staff_id as edit_staff %}
                    <a href="{{manage_staff}}"
                        class="nav-link {% if manage_staff == request.path or request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Employees

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    {% url 'add_client' as add_client %}
                    <a href="{{add_client}}" class="nav-link  {% if add_client == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Add Client

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    {% url 'manage_client' as manage_client %}
                    {% url 'edit_client' client_id as edit_client %}

                    <a href="{{manage_client}}"
                        class="nav-link  {% if edit_client == request.path or manage_client == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Clients

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    {% url 'admin_notify_staff' as admin_notify_staff %}
                    <a href="{{admin_notify_staff}}"
                        class="nav-link {% if admin_notify_staff == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Notify Employee

                        </p>
                    </a>
                </li>

                
                <li class="nav-item">
                    {% url 'staff_feedback_message' as staff_feedback_message %}

                    <a href="{{staff_feedback_message}}"
                        class="nav-link   {% if staff_feedback_message == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            Employee Feedback

                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    {% url 'view_staff_leave' as view_staff_leave %}

                    <a href="{{view_staff_leave}}"
                        class="nav-link  {% if view_staff_leave == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-check-double"></i>
                        <p>
                            Employee Leave

                        </p>
                    </a>
                </li>
               

                {% elif request.user.user_type == '2' %}
                
                <a href="#" class="brand-link">
                    <img src="{% static 'dist/img/emp2.png' %} " alt="Employee Logo"
                        class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Employee Panel</span>
                </a>

               
                <div class="sidebar">
                    
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">{{ user}}</a>
                        </div>
                    </div>

                    
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">

                            <li class="nav-item">
                                {% url 'staff_home' as staff_home %}
                                <a href="{{staff_home}}"
                                    class="nav-link {% if staff_home == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Home

                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                {% url 'staff_view_profile' as staff_view_profile %}
                                <a href="{{staff_view_profile}}"
                                    class="nav-link {% if staff_view_profile == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-address-card"></i>
                                    <p>
                                        Update Profile

                                    </p>
                                </a>
                            </li>

                            
                            
                            <li class="nav-item">
                                {% url 'staff_view_notification' as staff_view_notification %}
                                <a href="{{staff_view_notification}}"
                                    class="nav-link {% if staff_view_notification == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-bell"></i>
                                    <p>
                                        View Notifications

                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                {% url 'staff_apply_leave' as staff_apply_leave %}
                                <a href="{{staff_apply_leave}}"
                                    class="nav-link {% if staff_apply_leave == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-check"></i>
                                    <p>
                                        Apply For Leave

                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                {% url 'staff_feedback' as staff_feedback %}
                                <a href="{{staff_feedback}}"
                                    class="nav-link {% if staff_feedback == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-comment-alt"></i>
                                    <p>
                                        Feedback

                                    </p>
                                </a>
                            </li>

                                        {% endif %}



                                        <li class="nav-item">
                                            <a href="{% url 'user_logout' %}"
                                                onclick="return confirm('Your session would be terminated.\n\nProceed?')"
                                                class="nav-link">
                                                <i class="nav-icon fas fa-power-off"></i>
                                                <p>
                                                    Logout
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                              
                            </div>
                           
</aside>  