{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-3 col-6">
                
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{total_clients}}</h3>

                        <p>Clients</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-handshake"></i>

                    </div>
                    <a href="{% url 'manage_client' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>
          
            <div class="col-lg-3 col-6">
                
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{total_staff}}</h3>

                        <p>Total Employees</p>
                    </div>
                    <div class="icon">
                      <i class="nav-icon fas fa-users"></i>
                    </div>
                    <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{total_department}}</h3>

                        <p>Departments</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-sitemap"></i>

                    </div>
                    <a href="{% url 'manage_department' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
               
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{total_project}}</h3>

                        <p>Projects</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-briefcase"></i>

                    </div>
                    <a href="{% url 'manage_project' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
        </div>
       
        <div class="row">
            <div class="col-md-6">

                <!-- LINE CHART -->
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">Employees - Clients</h3>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div></div>
                  
                </div>
                <div class="col-md-6">
                    <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Attendance Per Department</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              
            </div>
                </div>
            
        </div>
       
        <div class="row">
          <div class="col-lg-12">

            <!-- BAR CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Employee Attendance & Leave Overview</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
            
            </div>
            
          </div>


          <div class="col-lg-6">
            
          </div>
        
        </div>

        <div class="row">

          <div class="col-lg-6">

            <!-- PIE CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Total Clients with Ongoing Projects in Each Department</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              
              </div>
          </div>

          <div class="col-lg-6">
            <!-- PIE CHART -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Ongoing Projects</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
             
          </div>
          </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block custom_js %}
  <script>
      $(document).ready(function(){
        var donutData        = {
            labels: ['Clients', 'Employees'],
            datasets: [
              {
                data:[{{total_clients}}, {{total_staff}}],
                backgroundColor : ['#00a65a', '#f39c12',],
              }
            ]
          }
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData        = donutData;
        var pieOptions     = {
          maintainAspectRatio : false,
          responsive : true,
        }
        //Pie Chart
        var pieChart = new Chart(pieChartCanvas, {
          type: 'pie',
          data: pieData,
          options: pieOptions      
        });

        var project_list = {{ project_list|safe|escape }};
        var attendance_list = {{ attendance_list }};
  
            var barChartData = {
      labels  : project_list,
      datasets: [
      {
        label               : 'Project Completion',
        backgroundColor     : '#17A2B8',
        borderColor         : 'rgba(60,141,188,0.8)',
        pointRadius          : false,
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : attendance_list
      }, 
      
      ]
    }
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var temp0 = barChartData.datasets[0]
        
        barChartData.datasets[0] = temp0
      
    
    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
    
        var barChart = new Chart(barChartCanvas, {
          type: 'bar', 
          data: barChartData,
          options: stackedBarChartOptions
        })
       

      // Total Clients with Ongoing Projects
      var client_count_list_in_project = {{ client_count_list_in_project }}
      var client_list = {{ project_list|safe }}
      var pieData3 = {
        labels: project_list,
        datasets: [
          {
            data: client_count_list_in_project,
            backgroundColor : [
        '#8f251f', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', 
        '#894e9c', '#0b523a', '#a1156d', '#9e4603', '#ff5733', 
        '#3498db', '#e74c3c', '#1abc9c', '#9b59b6', '#f1c40f', 
        '#27ae60', '#e67e22', '#34495e', '#d35400', '#c0392b'
      ],
          }
        ]
      }

    
      //- PIE CHART -
      var pieChartCanvas3 = $('#pieChart3').get(0).getContext('2d')
      var pieData3        = pieData3;
      var pieOptions3     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart3 = new Chart(pieChartCanvas3, {
        type: 'pie',
        data: pieData3,
        options: pieOptions3      
      })   

      

         //- BAR CHART -//
      var client_attendance_present_list = {{ client_attendance_present_list }};
      var client_attendance_leave_list = {{ client_attendance_leave_list }};
      var client_name_list = {{ client_name_list|safe }};

      var areaChartData2 = {
        labels  : client_name_list,
        datasets: [
          {
            label               : 'Leave',
            backgroundColor     : '#b50a04',
            borderColor         : '#b50a04',
            pointRadius          : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : client_attendance_leave_list 
          },
          {
            label               : 'Attendance',
            backgroundColor     : '#5a615c',
            borderColor         : 'rgba(210, 214, 222, 1)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data                : client_attendance_present_list
          },
        ]
      }


      var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
      var barChartData2 = jQuery.extend(true, {}, areaChartData2)
      var temp02 = areaChartData2.datasets[0]
      var temp12 = areaChartData2.datasets[1]
      barChartData2.datasets[0] = temp12
      barChartData2.datasets[1] = temp02

      var barChartOptions2 = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      }

      var barChart2 = new Chart(barChartCanvas2, {
        type: 'bar', 
        data: barChartData2,
        options: barChartOptions2
      })
      

      // Total Client projects in Each Department
     
      var department_name_list = {{ department_name_list|safe }}
      var client_count_list_in_department = {{ client_count_list_in_department }}
      var pieData2 = {
        labels: department_name_list,
        datasets: [
          {
            data: client_count_list_in_department,
            backgroundColor: [
        '#cc0404', '#00a65a', '#f39c12', '#00A4BD', '#045c8f',
        '#894e9c', '#9e4603', '#71bfb2', '#1abc9c', '#9b59b6'
      ]
          }
        ]
      }

  
      //- PIE CHART -
  
      var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
      var pieData2        = pieData2;
      var pieOptions2     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart2 = new Chart(pieChartCanvas2, {
        type: 'pie',
        data: pieData2,
        options: pieOptions2      
      })
      
      
      })
  </script>
{% endblock custom_js %}