{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Department</th>                                    
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in clients %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{client.last_name}}, {{client.first_name}}</td>
                                    <td>{{client.email}}</td>
                                    <td>{{client.gender}}</td>
                                    <td>{{client.client.department.name}}</td>
                                    
                                    
                                    <td><a href="{% url 'edit_client' client.client.id %}" class="btn btn-info">Edit</a> 
                                        <a href="{% url 'delete_client' client.client.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}